<div class="container">
  <div class="login-form">
    <h2>Login</h2>
    <form [formGroup]="loginForm" (ngSubmit)="login()">
      <div>
        <label>Email:</label>
        <input type="email" formControlName="email" />
        <div
          *ngIf="
            loginForm.controls['email'].touched &&
            loginForm.controls['email'].invalid
          "
        >
          <small
            *ngIf="loginForm.controls['email']?.errors?.['required']"
            class="validation-message"
            >*Email is required.</small
          >
          <small
            *ngIf="loginForm.controls['email']?.errors?.['email']"
            class="validation-message"
            >*Invalid Email format</small
          >
        </div>
      </div>
      <div>
        <label>Password:</label>
        <input type="password" formControlName="password" />
        <div
          *ngIf="
            loginForm.controls['password'].touched &&
            loginForm.controls['password'].invalid
          "
        >
          <small
            *ngIf="loginForm.controls['password']?.errors?.['required']"
            class="validation-message"
            >*Password is required.</small
          >
        </div>
      </div>
      <button type="submit">Login</button>
    </form>
    <p>Don't have an account? <a routerLink="/signup">Signup</a></p>
  </div>
</div>
