.group-table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .group-table th, .group-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  .group-table th {
    background-color: #f2f2f2;
  }
  
  .group-table tbody tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  .group-table tbody tr:hover {
    background-color: #ddd;
  }
  
  .group-table button {
    padding: 6px 12px;
    border: none;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
  }
  
  .group-table button:hover {
    background-color: #0056b3;
  }

  /* button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
  }
  
  .add-group-btn {
    position: absolute;
    top: 5px; 
    right: 10px;

  }
  .add-group-btn:hover {
    background-color: #0056b3;
  }
   */