<div class="groups-container">
  <h2>Groups</h2>
  <div class="loading-spinner" *ngIf="loading"></div>
  <button class="add-group-btn" (click)="openAddGroupModal()">Add Group</button>
  <table class="group-table">
    <thead>
      <tr>
        <th>Group ID</th>
        <th>Group Name</th>
        <th>Created At</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let group of groups">
        <td>{{ group.groupId }}</td>
        <td>
          <a [routerLink]="['/groups', group.groupId, 'projects']">{{
            group.groupName
          }}</a>
        </td>
        <td>{{ group.createdAt | date : "medium" }}</td>
      </tr>
    </tbody>
  </table>
</div>
<app-add-group-modal *ngIf="showAddGroupModal" (groupAdded)="addGroup($event)">
</app-add-group-modal>
