<div class="projects-container">
  <h2>Projects</h2>
  <button class="add-project-btn" (click)="openAddProjectModal()">
    Add Project
  </button>
  <table class="project-table" *ngIf="projects.length > 0">
    <thead>
      <tr>
        <th>Project ID</th>
        <th>Project Name</th>
        <th>Project Description</th>
        <th>Owner ID</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let project of projects">
        <td>{{ project.projectId }}</td>
        <td>
          <a
            [routerLink]="[
              '/groups',
              groupId,
              'projects',
              project.projectId,
              'tasks'
            ]"
            >{{ project.projectName }}</a
          >
        </td>
        <td>{{ project.projectDescription }}</td>
        <td>{{ project.ownerId }}</td>
      </tr>
    </tbody>
  </table>
</div>
<app-add-project-modal
  *ngIf="showAddProjectModal"
  (projectAdded)="addProject($event)"
></app-add-project-modal>
